body {
  margin: 0;
  padding: 0;
}
.App-header {
    /* background-color: #5d90f7; */
    background: linear-gradient(white,lightblue,white)  ;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items:center; 
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: rgb(5, 0, 0);
  }
  .App-link{
    font-weight: 600;
    color: blueviolet;
  }
  .Main-contaner {
    display: flex;
    flex-direction:row;
    justify-content: space-between;


  }
  .Main-content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;   
    background: linear-gradient(white,lightblue,rgb(8, 106, 172))  ;
    
  }
  .Main-textbox {
    max-width: 35%;
    height: 77vh;

  }
  .Nav-list {
    list-style-type: none;
    background: linear-gradient(white,lightblue,rgb(8, 106, 172)) ;
    margin: 0;
    padding: 0;
  }
  .navBtn {
    background: linear-gradient(white,lightblue,rgb(8, 106, 172)) ;
    border: none;
    filter: opacity(70%)
    /* border-radius: 10px;  */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  }