.App-header {
    background-color: #5d90f7;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items:center; 
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: rgb(5, 0, 0);
  }
  .App-link{
    font-weight: 600;
    color: blueviolet;
  }
  .Main-contaner {
    display: flex;
    flex-direction:row;
    justify-content: space-between;


  }
  .Main-content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;     
  }
  .Main-textbox {
    max-width: 35%;
  }
  .Nav-list {
    list-style-type: none;
  }